<html xmlns='https://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>BRYAN EZEAKA - Resume</title>
    <link href='/css/styles.css' rel='stylesheet' type='text/css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap'
      rel='stylesheet'
    />

    <script
      type='text/javascript'
      src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js?ver=3.3'
    ></script>
    <script type='text/javascript' src='/js/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='/js/jquery.easing.1.3.js'></script>

  </head>

  <body>
    <div id='header'>
      <div id='logo'>
        <h2><b>NWANNE EZEAKA</b><span> - Resume</span></h2>
      </div>
      <ul id='main-menu'>
        <li><a href='#about'>About</a></li>
        <li><a href='#experience'>Experience</a></li>
        <li><a href='#work'>Work</a></li>
        <li><a href='#connect'>Connect</a></li>
      </ul>
    </div>

    <div id='container'>

      <!--Begin About Section-->
      <div id='about'>
        <h1>About</h1>
        <ul id='top-social'>
          <li><a
              href='https://github.com/bryanwaine'
              class='github'
              target='blank'
            >Github</a></li>
          <li><a
              href='https://linkedin.com/in/nwanne-ezeaka-mbbs-a45bb475'
              class='linkedin'
              target='blank'
            >LinkedIn</a></li>
          <li><a
              href='https://facebook.com/bryanwaine'
              class='facebook'
              target='blank'
            >Facebook</a></li>
          <li><a
              href='https://instagram.com/bryanwaine_md'
              class='instagram'
              target='blank'
            >Instagram</a></li>
          <li><a
              href='https://twitter.com/bryanwaine_MD'
              class='twitter'
              target='blank'
            >Twitter</a></li>

        </ul>
        <div class='top-divider'></div>
        <div class='content'>
          <span><img src='images/profile.jpg' /></span>
          <h2>My Name is Nwanne Ezeaka. I am a Software Developer.</h2>
          <p><b>MY SKILLS</b></p>
          <ul>
            <li>
              HTML
            </li>
            <li>
              CSS
            </li>
            <li>
              Javascript
            </li>
            <li>
              Node.js
            </li>
            <li>
              Express.js
            </li>
            <li>
              React.js
            </li>
            <li>
              Next.js
            </li>
            <li>
              RESTful APIs
            </li>
            <li>
              Wordpress
            </li>
            <li>
              MongoDB
            </li>
            <li>
              PostgreSQL
            </li>
            <li>
              Git
            </li>
            <li>
              Material Design
            </li>
            <li>
              Figma
            </li>
          </ul>         

        </div>
        <div class='bottom-divider'></div>
      </div>
      <!--End About Section-->

      <!--Begin Experience Section-->
      <div id='experience'>
        <h1>Experience</h1>
        <div class='top-divider'></div>
        <div class='content'>
          <div class='col'>
            <a href='https://training.zuri.team/' target='blank'><img
                src='images/i4g.png'
              /></a>
            <h2>Zuri Training</h2>
            <p class='heading'>Back End Developer Trainee</p>
            <ul>
              <li>
                Developed server-side applications using Node.js, Express and
                MongoDB
              </li>
              <li>
                Created RESTful APIs with authorization and authentication
              </li>
            </ul>
          </div>

          <div class='col col-mid'>
            <a href='https://mead.io/' target='blank'><img
                src='images/mead.png'
              /></a>
            <h2>Complete Node.js Developer Course(3rd Edition)</h2>
            <p class='heading'>Backend Developer Student</p>
            <ul>
              <li>
                Learning about Node.js, Npm, Express, MongoDB and Mongoose.
              </li>
              <li>
                Learning about asynchronous programming, ES6/ES7, Socket.IO,
                authentication, file and image downloads and email sending.
              </li>
              <li>
                Learning about application deployment and Version control.
              </li>
              <li>
                Learning about designing REST APIs, code testing and debugging.
              </li>
            </ul>
          </div>

          <div class='col'>
            <a href='https://internship.zuri.team/' target='blank'><img
                src='images/hngi.png'
              /></a>
            <h2>HNG Internship 8</h2>
            <p class='heading'>Back End Developer Intern</p>
            <ul>
              <li>
                Application development and deployment using Node.js.
              </li>
              <li>
                REST API design and development.
              </li>
              <li>
                Creation of responsive web applications
              </li>
              <li>
                Learning team work and collaboration
              </li>
            </ul>
          </div>
        </div>
        <div class='bottom-divider'></div>
      </div>
      <!--End Experience Section-->

      <!--Begin Work Section-->
      <div id='work'>
        <h1>Work</h1>
        <div class='top-divider'></div>
        <div class='content'>
          <ul id='work-thumbs'>
            <div class='work-img-div'>
              <li class="img1"><a   target='blank' href='https://ahia.vercel.app' class="img-text"><img src='images/ahia_black_logo.png' class='img1-logo' /></a>
                </li>
              <li class="img2"><a   target='blank' href='http://bryan-quick-weather.herokuapp.com' class="img-text"><img src='images/weather.png' class='img2-logo' /></a>
                </li>
              <li class="img3"><a   target='blank' href='http://bryan-chat-rooms.herokuapp.com'  class="img-text"><span class='img3-logo'>Chat<br/>Rooms</span>></a>
                </li>
                <li class="img4"><a   target='blank'  href='https://phslearn.com' class="img-text"><img src='images/fmoh_logo.png' class='img4-logo' /></a>
                </li>
                <li class="img5"><a   target='blank'  href='https://phs-website.vercel.app' class="img-text"><img src='images/fmoh_logo.png' class='img5-logo' /></a>
                </li>
                <li class="img6"><a   target='blank'  href='https://search4moi.netlify.app' class="img-text"><img src='images/search.png' class='img6-logo' /></a>
                </li>
                  </div>
          </ul>
        </div>
        <div class='bottom-divider'></div>
      </div>
      <!--End Work Section-->

      <!--Begin Connect Section-->
      <div id='connect'>
        <h1>Connect</h1>
        <div class='top-divider'></div>
        <div class='content'>
          <div id='form'>
            <form
              action='https://formsubmit.co/1c99fe8591d605276f8823e16f35d43a'
              method='POST'
            >
              <span>Name</span>
              <input type='text' name='name' class='name' required />
              <span>Email</span>
              <input type='text' name='email' class='email' required />
              <span>Message</span>
              <textarea
                type='text'
                name='textarea'
                class='textarea'
                required
              ></textarea>
              <div class='submit-div'>
                  <input
                  type='submit'
                  name='submit'
                  value='submit'
                  class='submit'
                />
                </div>

            </form>
          </div>
          <div id='social-footer'>
            <h2>Follow Me:</h2>
            <ul id='sm-links'>
              <li><a
                  href='https://github.com/bryanwaine'
                  class='github'
                  target='blank'
                >Github</a></li>
              <li><a
                  href='https://linkedin.com/in/nwanne-ezeaka-mbbs-a45bb475'
                  class='linkedin'
                  target='blank'
                >LinkedIn</a></li>
              <li><a
                  href='https://facebook.com/bryanwaine'
                  class='facebook'
                  target='blank'
                >Facebook</a></li>
              <li><a
                  href='https://instagram.com/bryanwaine_md'
                  class='instagram'
                  target='blank'
                >Instagram</a></li>
              <li><a
                  href='https://twitter.com/bryanwaine_MD'
                  class='twitter'
                  target='blank'
                >Twitter</a></li>
              
            </ul>
            <ul id="resume">
                
              <li><a href="https://pdfhost.io/v/OKIagqlpz_Nwannes_Resume" target="_blank" class="download-resume">Download resume pdf</a></li>
              <li class="download-icon"><a href="https://pdfhost.io/v/OKIagqlpz_Nwannes_Resume" target="_blank" class='download'></a></li>
              
              <li></li>
              </ul>
            <div >
          </div>
      </div>            
          </div>
       
      <!--End Connect Section-->

    <!-- The JavaScript -->
    <script type='text/javascript'>
      $(function() { $('#main-menu li a').bind('click',function(event){ var
      $anchor = $(this); $('html, body').stop().animate({ scrollTop:
      $($anchor.attr('href')).offset().top }, 1500,'easeInOutExpo');
      event.preventDefault(); }); }); $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false, deeplinking:
      false}); });

    </script>
  </body>
</html>